We're working in devbox. Use devbox run to run commands.
Don't have two impl with the same signature. Merge them.
Keep structs toward the top of the file. Try to keep impls next to the relevant struct.